/*CSS reset: Zero out everything*/
* {
    margin :0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    color: #555555;

    font-weight: normal;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /*Same as above*/
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin: 0;
}

/*Style links globally*/
a {
    text-decoration: none;
    color: #000;
}

/*When you hover your mouse on it*/
a:hover {
  color: red;
}

/*When you click on it for a moment*/
a:active {
  color: green;
}


.container {
    width: 80%; /*Responsive width*/
    margin:auto; /*Responsive margin*/
}

/*.my-form input[type="submit"]*/
 .button {
  background-color: black;
  color: #fff;
  padding: 10px 5px;
  border: none;
}

.clr {
  clear: both;
}
.button:hover {
  background-color: red;
  color: #fff;
}

.box-1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 20px 0;

}

/*All H1 that is within box-1 class*/
.box-1 h1 {
    padding: 10px 0;
    font-family: Tahoma;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}

.box-2 {
    border: 1px #ccc dotted;
    padding: 10px;
    margin: 20px 0;
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    list-style-type: none;
}

.my-form {
  padding: 20px;
}

.my-form .form-group {
  padding-bottom: 15px;
}

.my-form label {
  display: block;
}

/*set width of input types and textarea but NOT button!!!*/
.my-form input[type="text"], .my-form textarea {
  width: 100%;
  padding: 8px;
}

.block {
  float: left;
  width: 33.3%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box; /*includes the border and padding into width*/
}

#main-block {
  float: left;
  width: 70%;
  padding: 15px;
  box-sizing: border-box;
}

#side-bar {
  float: right;
  width: 30%;
  padding: 10px;
  background-color: #ccc;
  box-sizing: border-box;
}

.p-box {
  width: 800px;
  height: 700px;
  border: 1px solid #ccc;
  margin-top: 30px;
  position: relative;
  background-image: url("../images/bg-image.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
}
/*if you use absolute you have to set a relative before. If not the whole
html will be the reference point
This is why p-box is set to relative!!!*/
.p-box h1 {
  position: absolute;
  top:40px;
}
